nupkg/

coverage/*
!coverage/.gdignore

.godot/
bin/
obj/
.generated/
.vs/
.DS_Store
build/*
.vscode/

/userdata

imgui.ini
ce_config.ini
ce_config.json
/ContentEditor.App/resources
crashlog.txt
configs/user
